/* container widtgh : 1200px */
*,
*::after,
*::before {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:#131313;
	
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	background-color: #fff;
	line-height: 17px;
	color: #131313;
}
/* !Section Header */

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	margin-right: 73px;
}

.menu__list {
	display: flex;
}

.menu__item + .menu__item {
	padding-left: 10px;
}

.menu__link {
	text-transform: uppercase;
	padding: 43px 20px;
	transition: 0.4s all;
}
.menu__link:hover {
	background-color: #131313;
	color: #fff;
}

/* !Section To-Order */

.to-order{
	padding: 97px 0 150px 0 ;
}
.to-order__inner{
	display: flex;
	justify-content: space-between;
}



.to-order__title{
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
	margin:60px 0  5px;

}

.to-order__subtitle{
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	color: #6F6F6F;
	margin-bottom: 60px;	
}

.to-order__descr{
	line-height: 120%;
	font-weight: 400;
	margin-bottom: 20px;
	max-width:  420px;
	

}
.order-btn__link{
	display: inline-block;
	margin-top: 80px;
	padding: 28px 81px;
	width: 420px;
	height: 80px;
	background: #131313;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.1em;
	text-transform: uppercase;
	color:#fff;
}

/* Slider */

.to-order__column-slider{
	flex-basis: 630px;
	margin-left: 30px;
	max-width: 630px;
}

.to-order-slider .slick-dots{
	right: 0;
	top:52px

}

.slick-dots{
	position: absolute;
}

.slick-dots li+li {
	padding-top: 10px;
}

.slick-dots button{
	font-size: 0;
	padding: 0;
	border:none;
	width: 2px;
	height: 25px;
	background: #131313;
	border-radius: 7px;
	cursor:pointer;
	transition:  all .3s;


}

.slick-active button ,
.slick-active button:hover {
	background-color:#ff4040;
	
}

.to-order__list{
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}

.to-order__list-item{
	min-width: 165px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 58px;
}

.to-order__list-item .to-order__list-num{
	font-weight: 700;
	text-transform: uppercase;
	

}

.to-order__list-item .to-order__list-text{
	
	/* margin-top: 5px; */
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	margin: auto 0;
	text-transform: lowercase;

}

/* section Info */

.info{
	padding-bottom: 150px;
}
.info__inner{
	display: flex;
}
.info__img{
	margin-right: 60px;
	flex-basis: 570px;
	object-fit: cover;
}

.info__list-items{
	flex-basis: 490px;
}

.info__item + .info__item{
	padding-top: 50px;
	
}


.info__item-title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	margin-bottom: 10px;
	

}

.info__item-descr{
	/* line-height: 120%; */
	max-width: 450px;
	

}

/* Characteristics */

.characteristics{
	margin-bottom: 150px;
}

.characteristics-title, .form__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	margin: 0 0 40px;
}

.characteristics__inner{
	display: flex;
	align-items: center;
}

.characteristics__img{
	align-self: center;
	flex-basis: 570px;
	
}

.characteristics__items{
	flex-basis: 570px;
	margin-right: 60px;
}

.characteristics__list + .characteristics__list {
	padding-top: 30px;
}
.characteristics__title {
	padding: 2.5px 0 2.5px 0;
	font-weight: 700;
	color:#fff;
	line-height: 19px;
	background-color: #131313;
	text-transform: uppercase;
	margin-bottom: 13px;
	
}
.characteristics__descr {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	

}
.characteristics__descr p{
	flex-basis: 285px;
	padding-top: 5px;
	

	
}

.characteristics__descr p:nth-child(2n+1){
	padding-right: 25px;
}

.slider{
	margin-bottom: 50px;
}

.slider__items .slick-dots {
	top:0;
	left:0;
	
}



.slider__item {
	padding-left: 50px;

}

.price{
	margin-bottom: 100px;
}

.price__inner{
	position: relative;
}

.form{
	max-width: 420px;
}

.form__title{
	margin-bottom: 41px;
}
.form__text{
	max-width: 298px;
	margin-bottom: 29px;

}

.form__input-name, .form__input-phone {
	width: 100%;
	border: none;
	border-bottom: 1px solid #131313;
	padding-bottom: 10px;
	margin-bottom: 20px;
	outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder, .form__input-text{
	color:#6F6F6F;
	opacity: 0.5;
}

.form__input-text{
	margin-bottom: 10px;
}

.form__label-box {
	display: flex;
	margin-bottom: 50px;
}

.form__input-radio{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike{
	display: block;

}


.form__bike{
		display:none;
		position: absolute;
		right: 0;
		top:0;
}

.form__price-bike{
	margin-top: 28px;
	
	font-size: 32px;
	line-height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	width: 220px;
	height: 100px;
	display: flex;
	justify-content:center ;
	align-items: center;
	border: 1px solid #FF4040;
	border-radius:50%;
	transform: translateX(-37%);
}
.form__price-bike:after{
	content: '';
	position: absolute;
	display: block;
	width: 220px;
	height: 100px;
	border: 1px solid #FF4040;
	border-radius: 50%;
	top:12px;
}
	





.form__label + .form__label{
	margin-left: 23px;
}

.form__radio-style{
	width: 80px;
	height: 12px;
	background: #6F6F6F ;
	border-radius: 30px;
	border: 1px solid #6F6F6F
}

.form__radio-style--grey {
	background: #6F6F6F;
}


.form__radio-style--white{
	background:#ffffff ;
}

.form__radio-style--red{
	background:#FF4040 ;
}

.form__btn{
	width: 420px;
	height: 80px;
	background-color: #131313;
	border: none;
	padding: 12px 81px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.1em;
	text-transform: uppercase;
	color:#fff;
	cursor: pointer;
}



 




















